  ul {
     list-style: none;
     display: block;
     margin: 0px;
     padding: 0px;
    }

  li {
     display: none;
  }
  .stop_bottom {
    margin: 10px; 
    border-radius: 50px; 
    padding: 10px 30px; 
    background: blue; 
    color: white;
    cursor: pointer
  }

  img {
    width: 100%;
  }
